body,
.menu {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}

ul.menu {
    list-style: none;
    background: black;
}

.menu>li {
    float: left;
}